annotated-types==0.6.0
APScheduler==3.10.4
async-lru==2.0.4
certifi==2024.7.4
charset-normalizer==3.3.2
executing==2.0.1
idna==3.7
packaging==23.2
pony==0.7.17
psutil==5.9.6
pyaes==1.6.1
pydantic==2.5.2
pydantic_core==2.14.5
pykeyboard==0.1.5
Pyrogram==2.0.106
PySocks==1.7.1
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
qbittorrent-api==2023.11.57
requests==2.32.4
six==1.16.0
TgCrypto==1.2.5
tqdm==4.66.3
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.6.0
uvloop==0.19.0
varname==0.12.2
